ENABLE_ENCRYPTION=true
BACKUP_ENCRYPTION_KEY=0123456789abcdef0123456789abcdef

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=my_database

R2_ACCOUNT_ID=your_account_id
R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_BUCKET_NAME=my-backups
R2_UPLOAD_PATH=mysql/{YYYY}/{MM}/{dbname}-{timestamp}.sql.gz.enc
